.pages {
    display: flex;
    padding: 5px;
    cursor: pointer;
    color: white;
    flex-wrap: wrap;
}

.pages div {
    padding: 0 5px;
}

.currentPage { 
    font-weight: bold;
    color: black;
}

.usersList {
    display: flex;
    flex-wrap: wrap;
}

.user {
    width: 24.5%;
    height: 150px;
}

.preloadImg {
    width: 100%;
    height: 1fr;
    display: flex;
    justify-content: center;
}

.preloadImg>img{
    width: 100px;
}