.header {
  grid-area: h;
  background-color: darkblue;
  display: flex;
  justify-content:space-between;
  padding: 0px 10px;
  align-items: center;
}

.header>img {
  height: 60px;
}

.header>a {
  display: block;
  color: white;
}